03-app_user/flows.json
[
  {
    "id": "c20a260.8b39dd8",
    "type": "tab",
    "label": "user"
  },
  {
    "id": "3fac70cb.ae558",
    "type": "ibmiot",
    "z": "",
    "name": "application user",
    "keepalive": "60",
    "cleansession": true,
    "appId": "",
    "shared": false
  },
  {
    "id": "ae5e23c8.865c9",
    "type": "comment",
    "z": "c20a260.8b39dd8",
    "name": "responses",
    "info": "",
    "x": 120,
    "y": 155,
    "wires": []
  },
  {
    "id": "2db0d378.7698ac",
    "type": "ibmiot in",
    "z": "c20a260.8b39dd8",
    "authentication": "apiKey",
    "apiKey": "3fac70cb.ae558",
    "inputType": "evt",
    "deviceId": "00-17-0d-00-00-58-2f-e4",
    "applicationId": "",
    "deviceType": "manager",
    "eventType": "JsonServerResponse",
    "commandType": "",
    "format": "json",
    "name": "manager responses",
    "service": "registered",
    "allDevices": false,
    "allApplications": "",
    "allDeviceTypes": false,
    "allEvents": false,
    "allCommands": "",
    "allFormats": true,
    "qos": 0,
    "x": 188,
    "y": 190,
    "wires": [
      [
        "92738a1d.f42b88"
      ]
    ]
  },
  {
    "id": "92738a1d.f42b88",
    "type": "debug",
    "z": "c20a260.8b39dd8",
    "name": "manager responses",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 456,
    "y": 191,
    "wires": []
  },
  {
    "id": "908bebf6.9d27b8",
    "type": "comment",
    "z": "c20a260.8b39dd8",
    "name": "=== interact with devices",
    "info": "",
    "x": 126,
    "y": 116,
    "wires": []
  },
  {
    "id": "5c4a3e24.27821",
    "type": "ibmiot in",
    "z": "c20a260.8b39dd8",
    "authentication": "apiKey",
    "apiKey": "3fac70cb.ae558",
    "inputType": "evt",
    "deviceId": "00-17-0d-00-00-3f-fe-e6",
    "applicationId": "",
    "deviceType": "mote",
    "eventType": "oap.analog.A0",
    "commandType": "",
    "format": "json",
    "name": "mote events/responses",
    "service": "registered",
    "allDevices": false,
    "allApplications": "",
    "allDeviceTypes": false,
    "allEvents": true,
    "allCommands": "",
    "allFormats": true,
    "qos": 0,
    "x": 180,
    "y": 239,
    "wires": [
      [
        "7b99203f.0247a"
      ]
    ]
  },
  {
    "id": "7b99203f.0247a",
    "type": "debug",
    "z": "c20a260.8b39dd8",
    "name": "mote events/responses",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 468,
    "y": 237,
    "wires": []
  },
  {
    "id": "1c2d0312.62c3bd",
    "type": "comment",
    "z": "c20a260.8b39dd8",
    "name": "manager commands",
    "info": "",
    "x": 163,
    "y": 288,
    "wires": []
  },
  {
    "id": "a408074e.25e558",
    "type": "comment",
    "z": "c20a260.8b39dd8",
    "name": "mote commands",
    "info": "",
    "x": 158.00001525878906,
    "y": 442,
    "wires": []
  },
  {
    "id": "ecc630c8.33c57",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "set variable",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 155,
    "y": 74,
    "wires": [
      [
        "5954255d.e3500c"
      ]
    ]
  },
  {
    "id": "5954255d.e3500c",
    "type": "function",
    "z": "c20a260.8b39dd8",
    "name": "configure here first",
    "func": "flow.set('manager','00-17-0d-00-00-58-2f-e4');\nflow.set('mote',   '00-17-0d-00-00-3f-fe-e6');\nflow.set('orgId',  '0o6f49');\n\nmsg.payload = {\n    'manager': flow.get('manager'),\n    'mote':    flow.get('mote')\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 69,
    "wires": [
      [
        "9de4fac4.8c25b8"
      ]
    ]
  },
  {
    "id": "dc0b2e75.f029f",
    "type": "ibmiot out",
    "z": "c20a260.8b39dd8",
    "authentication": "apiKey",
    "apiKey": "3fac70cb.ae558",
    "outputType": "cmd",
    "deviceId": "0",
    "deviceType": "0",
    "eventCommandType": "0",
    "format": "json",
    "data": "0",
    "qos": 0,
    "name": "manager commands",
    "service": "registered",
    "x": 791,
    "y": 517,
    "wires": []
  },
  {
    "id": "9de4fac4.8c25b8",
    "type": "debug",
    "z": "c20a260.8b39dd8",
    "name": "current manager/mote",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 669,
    "y": 72,
    "wires": []
  },
  {
    "id": "cb0205d1.ddfba8",
    "type": "debug",
    "z": "c20a260.8b39dd8",
    "name": "manager commands",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 789,
    "y": 480,
    "wires": []
  },
  {
    "id": "d5f1aa1.b111d58",
    "type": "function",
    "z": "c20a260.8b39dd8",
    "name": "",
    "func": "\nreturn msg",
    "outputs": "1",
    "noerr": 0,
    "x": 602,
    "y": 507,
    "wires": [
      [
        "dc0b2e75.f029f",
        "cb0205d1.ddfba8"
      ]
    ]
  },
  {
    "id": "f6a9457.153f4b8",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "getMoteConfig",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 248.00003051757812,
    "y": 362.00006103515625,
    "wires": [
      [
        "2c1c3df2.0be632"
      ]
    ]
  },
  {
    "id": "2c1c3df2.0be632",
    "type": "function",
    "z": "c20a260.8b39dd8",
    "name": "",
    "func": "msg.deviceType         = 'manager'\nmsg.deviceId           = flow.get('manager')\nmsg.eventOrCommandType = 'JsonServer'\nmsg.payload            = {\n    \"method\" :  \"POST\",\n    \"url\" :     \"/api/v1/raw\",\n    \"body\":     {\n        \"manager\": 0,\n        \"command\": \"getMoteConfig\",\n        \"fields\": {\n            \"macAddress\": flow.get('mote'),\n            \"next\":       false\n        }\n    },\n    \"token\":    \"myToken\",\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 431.0000305175781,
    "y": 363.00006103515625,
    "wires": [
      [
        "d5f1aa1.b111d58"
      ]
    ]
  },
  {
    "id": "ff233f90.9d96c",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "getMoteInfo",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 255.00003051757812,
    "y": 396.00006103515625,
    "wires": [
      [
        "d22cba0d.cd5678"
      ]
    ]
  },
  {
    "id": "d22cba0d.cd5678",
    "type": "function",
    "z": "c20a260.8b39dd8",
    "name": "",
    "func": "msg.deviceType         = 'manager'\nmsg.deviceId           = flow.get('manager')\nmsg.eventOrCommandType = 'JsonServer'\nmsg.payload            = {\n    \"method\" :  \"POST\",\n    \"url\" :     \"/api/v1/raw\",\n    \"body\":     {\n        \"manager\": 0,\n        \"command\": \"getMoteInfo\",\n        \"fields\": {\n            \"macAddress\": flow.get('mote')\n        }\n    },\n    \"token\":    \"myToken\",\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 433.0000305175781,
    "y": 401.00006103515625,
    "wires": [
      [
        "d5f1aa1.b111d58"
      ]
    ]
  },
  {
    "id": "80d44764.adfd08",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "getNetworkInfo",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 249.00003051757812,
    "y": 323,
    "wires": [
      [
        "a0f44820.ce5248"
      ]
    ]
  },
  {
    "id": "a0f44820.ce5248",
    "type": "function",
    "z": "c20a260.8b39dd8",
    "name": "",
    "func": "msg.deviceType         = 'manager'\nmsg.deviceId           = flow.get('manager')\nmsg.eventOrCommandType = 'JsonServer'\nmsg.payload            = {\n    \"method\" :  \"POST\",\n    \"url\" :     \"/api/v1/raw\",\n    \"body\":     {\n        \"manager\": 0,\n        \"command\": \"getNetworkInfo\",\n        \"fields\":  {}\n    },\n    \"token\":    \"myToken\",\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 428.0000305175781,
    "y": 324,
    "wires": [
      [
        "d5f1aa1.b111d58"
      ]
    ]
  },
  {
    "id": "4acff95f.48a488",
    "type": "comment",
    "z": "c20a260.8b39dd8",
    "name": "set global variables",
    "info": "",
    "x": 108,
    "y": 28.00000762939453,
    "wires": []
  },
  {
    "id": "acab7496.a56b78",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "GET echo",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 262.00001525878906,
    "y": 477,
    "wires": [
      [
        "664b8ed7.73ac7"
      ]
    ]
  },
  {
    "id": "664b8ed7.73ac7",
    "type": "function",
    "z": "c20a260.8b39dd8",
    "name": "",
    "func": "msg.deviceType         = 'mote'\nmsg.deviceId           = flow.get('mote')\nmsg.eventOrCommandType = 'oap'\nmsg.payload            = {\n    \"method\" :  \"GET\",\n    \"url\" :     \"/pkgen/echo\",\n    \"body\":     {},\n    \"token\":    \"myToken\",\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 429.00001525878906,
    "y": 478,
    "wires": [
      [
        "d5f1aa1.b111d58"
      ]
    ]
  },
  {
    "id": "d5105f49.48394",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "digital out: set LED",
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 239.00006103515625,
    "y": 518,
    "wires": [
      [
        "d2a563bb.8236a"
      ]
    ]
  },
  {
    "id": "868b582f.e2ecb8",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "digital out: clear LED",
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 234.00006103515625,
    "y": 551,
    "wires": [
      [
        "d2a563bb.8236a"
      ]
    ]
  },
  {
    "id": "d2a563bb.8236a",
    "type": "function",
    "z": "c20a260.8b39dd8",
    "name": "",
    "func": "msg.deviceType         = 'mote'\nmsg.deviceId           = flow.get('mote')\nmsg.eventOrCommandType = 'oap'\nmsg.payload            = {\n    \"method\" :  \"PUT\",\n    \"url\" :     \"/digital_out/INDICATOR_0\",\n    \"body\":     {\n        'value': msg.payload,\n    },\n    \"token\":    \"myToken\",\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 437.00006103515625,
    "y": 527,
    "wires": [
      [
        "d5f1aa1.b111d58"
      ]
    ]
  },
  {
    "id": "91bb9279.8a382",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "digital out: set I_MOSI",
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 231.0000457763672,
    "y": 596,
    "wires": [
      [
        "92dd6116.718cb"
      ]
    ]
  },
  {
    "id": "9cee97a4.f0c188",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "digital out: clear I_MOSI",
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 226.0000457763672,
    "y": 627,
    "wires": [
      [
        "92dd6116.718cb"
      ]
    ]
  },
  {
    "id": "92dd6116.718cb",
    "type": "function",
    "z": "c20a260.8b39dd8",
    "name": "",
    "func": "msg.deviceType         = 'mote'\nmsg.deviceId           = flow.get('mote')\nmsg.eventOrCommandType = 'oap'\nmsg.payload            = {\n    \"method\" :  \"PUT\",\n    \"url\" :     \"/digital_out/D4\", // D4==I_MOSI\n    \"body\":     {\n        'value': msg.payload,\n    },\n    \"token\":    \"myToken\",\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 436.0000457763672,
    "y": 605,
    "wires": [
      [
        "d5f1aa1.b111d58"
      ]
    ]
  },
  {
    "id": "5090d522.f4b0ec",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "digital in: enable DP2",
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 235.0000457763672,
    "y": 672,
    "wires": [
      [
        "1ec457e9.9f57b8"
      ]
    ]
  },
  {
    "id": "1ec457e9.9f57b8",
    "type": "function",
    "z": "c20a260.8b39dd8",
    "name": "",
    "func": "msg.deviceType         = 'mote'\nmsg.deviceId           = flow.get('mote')\nmsg.eventOrCommandType = 'oap'\nmsg.payload            = {\n    \"method\" :  \"PUT\",\n    \"url\" :     \"/digital_in/D0\", // D0==DP2\n    \"body\":     {\n        \"enable\":      msg.payload,\n        \"rate\":        10000,\n        \"sampleCount\": 1,\n        \"dataFormat\":  1\n    },\n    \"token\":    \"myToken\",\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 438.0000457763672,
    "y": 687,
    "wires": [
      [
        "d5f1aa1.b111d58"
      ]
    ]
  },
  {
    "id": "5f94cd29.16c3c4",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "digital in: disable DP2",
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 235.0000457763672,
    "y": 703,
    "wires": [
      [
        "1ec457e9.9f57b8"
      ]
    ]
  },
  {
    "id": "59a7370c.5f07e8",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "analog: enable A0",
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 244.00001525878906,
    "y": 748,
    "wires": [
      [
        "360dc733.527be8"
      ]
    ]
  },
  {
    "id": "360dc733.527be8",
    "type": "function",
    "z": "c20a260.8b39dd8",
    "name": "",
    "func": "msg.deviceType         = 'mote'\nmsg.deviceId           = flow.get('mote')\nmsg.eventOrCommandType = 'oap'\nmsg.payload            = {\n    \"method\" :  \"PUT\",\n    \"url\" :     \"/analog/A0\",\n    \"body\":     {\n        \"enable\":      msg.payload,\n        \"rate\":        10000,\n        \"sampleCount\": 1,\n        \"dataFormat\":  0\n    },\n    \"token\":    \"myToken\",\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 439.00001525878906,
    "y": 764,
    "wires": [
      [
        "d5f1aa1.b111d58"
      ]
    ]
  },
  {
    "id": "c11fd534.9e1838",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "analog: disable A0",
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 243.00001525878906,
    "y": 779,
    "wires": [
      [
        "360dc733.527be8"
      ]
    ]
  },
  {
    "id": "fd5c7b00.a7f608",
    "type": "comment",
    "z": "c20a260.8b39dd8",
    "name": "=== interact with the IBM Watson IoT Platform",
    "info": "",
    "x": 182,
    "y": 836,
    "wires": []
  },
  {
    "id": "760bd976.8040f8",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "info about my mote",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 229,
    "y": 874,
    "wires": [
      [
        "70382514.f49b5c"
      ]
    ]
  },
  {
    "id": "70382514.f49b5c",
    "type": "function",
    "z": "c20a260.8b39dd8",
    "name": "",
    "func": "msg.url = 'https://'+flow.get('orgId')+'.internetofthings.ibmcloud.com/api/v0002/device/types/mote/devices/'+flow.get('mote')\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 425,
    "y": 873,
    "wires": [
      [
        "ddb52b70.3f6828"
      ]
    ]
  },
  {
    "id": "ddb52b70.3f6828",
    "type": "http request",
    "z": "c20a260.8b39dd8",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "url": "",
    "tls": "",
    "x": 590,
    "y": 869,
    "wires": [
      [
        "7c25ac6f.01f834"
      ]
    ]
  },
  {
    "id": "7c25ac6f.01f834",
    "type": "debug",
    "z": "c20a260.8b39dd8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 771,
    "y": 870,
    "wires": []
  }
]