03-app_user/flows.json
[
  {
    "id": "c20a260.8b39dd8",
    "type": "tab",
    "label": "user"
  },
  {
    "id": "3fac70cb.ae558",
    "type": "ibmiot",
    "z": "",
    "name": "application user",
    "keepalive": "60",
    "cleansession": true,
    "appId": "",
    "shared": false
  },
  {
    "id": "ae5e23c8.865c9",
    "type": "comment",
    "z": "c20a260.8b39dd8",
    "name": "=== responses",
    "info": "",
    "x": 93,
    "y": 126,
    "wires": []
  },
  {
    "id": "2db0d378.7698ac",
    "type": "ibmiot in",
    "z": "c20a260.8b39dd8",
    "authentication": "apiKey",
    "apiKey": "3fac70cb.ae558",
    "inputType": "evt",
    "deviceId": "00-17-0d-00-00-58-2f-e4",
    "applicationId": "",
    "deviceType": "manager",
    "eventType": "JsonServerResponse",
    "commandType": "",
    "format": "json",
    "name": "manager responses",
    "service": "registered",
    "allDevices": false,
    "allApplications": "",
    "allDeviceTypes": false,
    "allEvents": false,
    "allCommands": "",
    "allFormats": true,
    "qos": 0,
    "x": 162,
    "y": 169,
    "wires": [
      [
        "92738a1d.f42b88"
      ]
    ]
  },
  {
    "id": "92738a1d.f42b88",
    "type": "debug",
    "z": "c20a260.8b39dd8",
    "name": "manager responses",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 430,
    "y": 170,
    "wires": []
  },
  {
    "id": "908bebf6.9d27b8",
    "type": "comment",
    "z": "c20a260.8b39dd8",
    "name": "=== commands",
    "info": "",
    "x": 85,
    "y": 268,
    "wires": []
  },
  {
    "id": "5c4a3e24.27821",
    "type": "ibmiot in",
    "z": "c20a260.8b39dd8",
    "authentication": "apiKey",
    "apiKey": "3fac70cb.ae558",
    "inputType": "evt",
    "deviceId": "00-17-0d-00-00-3f-fe-e6",
    "applicationId": "",
    "deviceType": "mote",
    "eventType": "oap.analog.A0",
    "commandType": "",
    "format": "json",
    "name": "mote responses/events",
    "service": "registered",
    "allDevices": false,
    "allApplications": "",
    "allDeviceTypes": false,
    "allEvents": true,
    "allCommands": "",
    "allFormats": true,
    "qos": 0,
    "x": 154,
    "y": 218,
    "wires": [
      [
        "7b99203f.0247a"
      ]
    ]
  },
  {
    "id": "7b99203f.0247a",
    "type": "debug",
    "z": "c20a260.8b39dd8",
    "name": "mote responses",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 412,
    "y": 216,
    "wires": []
  },
  {
    "id": "1c2d0312.62c3bd",
    "type": "comment",
    "z": "c20a260.8b39dd8",
    "name": "manager commands",
    "info": "",
    "x": 133,
    "y": 311,
    "wires": []
  },
  {
    "id": "a408074e.25e558",
    "type": "comment",
    "z": "c20a260.8b39dd8",
    "name": "mote commands",
    "info": "",
    "x": 128.00001525878906,
    "y": 465,
    "wires": []
  },
  {
    "id": "ecc630c8.33c57",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "set variable",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 155,
    "y": 74,
    "wires": [
      [
        "5954255d.e3500c"
      ]
    ]
  },
  {
    "id": "5954255d.e3500c",
    "type": "function",
    "z": "c20a260.8b39dd8",
    "name": "configure here first",
    "func": "flow.set('manager','00-17-0d-00-00-58-2f-e4');\nflow.set('mote',   '00-17-0d-00-00-3f-fe-e6');\n\nmsg.payload = {\n    'manager': flow.get('manager'),\n    'mote':    flow.get('mote')\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 69,
    "wires": [
      [
        "9de4fac4.8c25b8"
      ]
    ]
  },
  {
    "id": "dc0b2e75.f029f",
    "type": "ibmiot out",
    "z": "c20a260.8b39dd8",
    "authentication": "apiKey",
    "apiKey": "3fac70cb.ae558",
    "outputType": "cmd",
    "deviceId": "0",
    "deviceType": "0",
    "eventCommandType": "0",
    "format": "json",
    "data": "0",
    "qos": 0,
    "name": "manager commands",
    "service": "registered",
    "x": 761,
    "y": 540,
    "wires": []
  },
  {
    "id": "9de4fac4.8c25b8",
    "type": "debug",
    "z": "c20a260.8b39dd8",
    "name": "current manager/mote",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 669,
    "y": 72,
    "wires": []
  },
  {
    "id": "cb0205d1.ddfba8",
    "type": "debug",
    "z": "c20a260.8b39dd8",
    "name": "manager commands",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 759,
    "y": 503,
    "wires": []
  },
  {
    "id": "d5f1aa1.b111d58",
    "type": "function",
    "z": "c20a260.8b39dd8",
    "name": "",
    "func": "\nreturn msg",
    "outputs": "1",
    "noerr": 0,
    "x": 572,
    "y": 530,
    "wires": [
      [
        "dc0b2e75.f029f",
        "cb0205d1.ddfba8"
      ]
    ]
  },
  {
    "id": "f6a9457.153f4b8",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "getMoteConfig",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 218.00003051757812,
    "y": 385.00006103515625,
    "wires": [
      [
        "2c1c3df2.0be632"
      ]
    ]
  },
  {
    "id": "2c1c3df2.0be632",
    "type": "function",
    "z": "c20a260.8b39dd8",
    "name": "",
    "func": "msg.deviceType         = 'manager'\nmsg.deviceId           = flow.get('manager')\nmsg.eventOrCommandType = 'JsonServer'\nmsg.payload            = {\n    \"method\" :  \"POST\",\n    \"url\" :     \"/api/v1/raw\",\n    \"body\":     {\n        \"manager\": 0,\n        \"command\": \"getMoteConfig\",\n        \"fields\": {\n            \"macAddress\": flow.get('mote'),\n            \"next\":       false\n        }\n    },\n    \"token\":    \"myToken\",\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 401.0000305175781,
    "y": 386.00006103515625,
    "wires": [
      [
        "d5f1aa1.b111d58"
      ]
    ]
  },
  {
    "id": "ff233f90.9d96c",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "getMoteInfo",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 225.00003051757812,
    "y": 419.00006103515625,
    "wires": [
      [
        "d22cba0d.cd5678"
      ]
    ]
  },
  {
    "id": "d22cba0d.cd5678",
    "type": "function",
    "z": "c20a260.8b39dd8",
    "name": "",
    "func": "msg.deviceType         = 'manager'\nmsg.deviceId           = flow.get('manager')\nmsg.eventOrCommandType = 'JsonServer'\nmsg.payload            = {\n    \"method\" :  \"POST\",\n    \"url\" :     \"/api/v1/raw\",\n    \"body\":     {\n        \"manager\": 0,\n        \"command\": \"getMoteInfo\",\n        \"fields\": {\n            \"macAddress\": flow.get('mote')\n        }\n    },\n    \"token\":    \"myToken\",\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 403.0000305175781,
    "y": 424.00006103515625,
    "wires": [
      [
        "d5f1aa1.b111d58"
      ]
    ]
  },
  {
    "id": "80d44764.adfd08",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "getNetworkInfo",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 219.00003051757812,
    "y": 346,
    "wires": [
      [
        "a0f44820.ce5248"
      ]
    ]
  },
  {
    "id": "a0f44820.ce5248",
    "type": "function",
    "z": "c20a260.8b39dd8",
    "name": "",
    "func": "msg.deviceType         = 'manager'\nmsg.deviceId           = flow.get('manager')\nmsg.eventOrCommandType = 'JsonServer'\nmsg.payload            = {\n    \"method\" :  \"POST\",\n    \"url\" :     \"/api/v1/raw\",\n    \"body\":     {\n        \"manager\": 0,\n        \"command\": \"getNetworkInfo\",\n        \"fields\":  {}\n    },\n    \"token\":    \"myToken\",\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 398.0000305175781,
    "y": 347,
    "wires": [
      [
        "d5f1aa1.b111d58"
      ]
    ]
  },
  {
    "id": "4acff95f.48a488",
    "type": "comment",
    "z": "c20a260.8b39dd8",
    "name": "set global variables",
    "info": "",
    "x": 108,
    "y": 28.00000762939453,
    "wires": []
  },
  {
    "id": "acab7496.a56b78",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "GET echo",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 232.00001525878906,
    "y": 500,
    "wires": [
      [
        "664b8ed7.73ac7"
      ]
    ]
  },
  {
    "id": "664b8ed7.73ac7",
    "type": "function",
    "z": "c20a260.8b39dd8",
    "name": "",
    "func": "msg.deviceType         = 'mote'\nmsg.deviceId           = flow.get('mote')\nmsg.eventOrCommandType = 'oap'\nmsg.payload            = {\n    \"method\" :  \"GET\",\n    \"url\" :     \"/pkgen/echo\",\n    \"body\":     {},\n    \"token\":    \"myToken\",\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 399.00001525878906,
    "y": 501,
    "wires": [
      [
        "d5f1aa1.b111d58"
      ]
    ]
  },
  {
    "id": "d5105f49.48394",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "digital out: set LED",
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 209.00006103515625,
    "y": 541,
    "wires": [
      [
        "d2a563bb.8236a"
      ]
    ]
  },
  {
    "id": "868b582f.e2ecb8",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "digital out: clear LED",
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 204.00006103515625,
    "y": 574,
    "wires": [
      [
        "d2a563bb.8236a"
      ]
    ]
  },
  {
    "id": "d2a563bb.8236a",
    "type": "function",
    "z": "c20a260.8b39dd8",
    "name": "",
    "func": "msg.deviceType         = 'mote'\nmsg.deviceId           = flow.get('mote')\nmsg.eventOrCommandType = 'oap'\nmsg.payload            = {\n    \"method\" :  \"PUT\",\n    \"url\" :     \"/digital_out/INDICATOR_0\",\n    \"body\":     {\n        'value': msg.payload,\n    },\n    \"token\":    \"myToken\",\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 407.00006103515625,
    "y": 550,
    "wires": [
      [
        "d5f1aa1.b111d58"
      ]
    ]
  },
  {
    "id": "91bb9279.8a382",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "digital out: set I_MOSI",
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 201.0000457763672,
    "y": 619,
    "wires": [
      [
        "92dd6116.718cb"
      ]
    ]
  },
  {
    "id": "9cee97a4.f0c188",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "digital out: clear I_MOSI",
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 196.0000457763672,
    "y": 650,
    "wires": [
      [
        "92dd6116.718cb"
      ]
    ]
  },
  {
    "id": "92dd6116.718cb",
    "type": "function",
    "z": "c20a260.8b39dd8",
    "name": "",
    "func": "msg.deviceType         = 'mote'\nmsg.deviceId           = flow.get('mote')\nmsg.eventOrCommandType = 'oap'\nmsg.payload            = {\n    \"method\" :  \"PUT\",\n    \"url\" :     \"/digital_out/D4\", // D4==I_MOSI\n    \"body\":     {\n        'value': msg.payload,\n    },\n    \"token\":    \"myToken\",\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 406.0000457763672,
    "y": 628,
    "wires": [
      [
        "d5f1aa1.b111d58"
      ]
    ]
  },
  {
    "id": "5090d522.f4b0ec",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "digital in: enable DP2",
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 205.0000457763672,
    "y": 695,
    "wires": [
      [
        "1ec457e9.9f57b8"
      ]
    ]
  },
  {
    "id": "1ec457e9.9f57b8",
    "type": "function",
    "z": "c20a260.8b39dd8",
    "name": "",
    "func": "msg.deviceType         = 'mote'\nmsg.deviceId           = flow.get('mote')\nmsg.eventOrCommandType = 'oap'\nmsg.payload            = {\n    \"method\" :  \"PUT\",\n    \"url\" :     \"/digital_in/D0\", // D0==DP2\n    \"body\":     {\n        \"enable\":      msg.payload,\n        \"rate\":        10000,\n        \"sampleCount\": 1,\n        \"dataFormat\":  1\n    },\n    \"token\":    \"myToken\",\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 408.0000457763672,
    "y": 710,
    "wires": [
      [
        "d5f1aa1.b111d58"
      ]
    ]
  },
  {
    "id": "5f94cd29.16c3c4",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "digital in: disable DP2",
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 205.0000457763672,
    "y": 726,
    "wires": [
      [
        "1ec457e9.9f57b8"
      ]
    ]
  },
  {
    "id": "59a7370c.5f07e8",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "analog: enable A0",
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 214.00001525878906,
    "y": 771,
    "wires": [
      [
        "360dc733.527be8"
      ]
    ]
  },
  {
    "id": "360dc733.527be8",
    "type": "function",
    "z": "c20a260.8b39dd8",
    "name": "",
    "func": "msg.deviceType         = 'mote'\nmsg.deviceId           = flow.get('mote')\nmsg.eventOrCommandType = 'oap'\nmsg.payload            = {\n    \"method\" :  \"PUT\",\n    \"url\" :     \"/analog/A0\",\n    \"body\":     {\n        \"enable\":      msg.payload,\n        \"rate\":        10000,\n        \"sampleCount\": 1,\n        \"dataFormat\":  0\n    },\n    \"token\":    \"myToken\",\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 409.00001525878906,
    "y": 787,
    "wires": [
      [
        "d5f1aa1.b111d58"
      ]
    ]
  },
  {
    "id": "c11fd534.9e1838",
    "type": "inject",
    "z": "c20a260.8b39dd8",
    "name": "analog: disable A0",
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 213.00001525878906,
    "y": 802,
    "wires": [
      [
        "360dc733.527be8"
      ]
    ]
  }
]