03-bluemix_node-red/flows.json
[{"id":"6dd8815f.e6654","type":"ibmiot in","z":"83c64010.34e6f","authentication":"boundService","apiKey":"","inputType":"devsts","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"status all devices","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":117,"y":78,"wires":[["add6bcd.4e3c34"]]},{"id":"add6bcd.4e3c34","type":"debug","z":"83c64010.34e6f","name":"status all devices","active":true,"console":"false","complete":"payload","x":386,"y":79,"wires":[]},{"id":"233b49ce.f85486","type":"ibmiot in","z":"83c64010.34e6f","authentication":"boundService","apiKey":"","inputType":"appsts","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"status all applications","service":"registered","allDevices":true,"allApplications":true,"allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":136,"y":143,"wires":[["a3b9a815.a4e8f8"]]},{"id":"a3b9a815.a4e8f8","type":"debug","z":"83c64010.34e6f","name":"status all applications","active":true,"console":"false","complete":"payload","x":398,"y":145,"wires":[]}]