02-bluemix/01-app_node-red/flows.json
[
  {
    "id": "83c64010.34e6f",
    "type": "tab",
    "label": "bluemix"
  },
  {
    "id": "6dd8815f.e6654",
    "type": "ibmiot in",
    "z": "83c64010.34e6f",
    "authentication": "boundService",
    "apiKey": "",
    "inputType": "devsts",
    "deviceId": "",
    "applicationId": "",
    "deviceType": "+",
    "eventType": "+",
    "commandType": "",
    "format": "json",
    "name": "all device status",
    "service": "registered",
    "allDevices": true,
    "allApplications": "",
    "allDeviceTypes": true,
    "allEvents": true,
    "allCommands": "",
    "allFormats": "",
    "qos": 0,
    "x": 159,
    "y": 115,
    "wires": [
      [
        "add6bcd.4e3c34"
      ]
    ]
  },
  {
    "id": "add6bcd.4e3c34",
    "type": "debug",
    "z": "83c64010.34e6f",
    "name": "status all devices",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 462,
    "y": 111,
    "wires": []
  },
  {
    "id": "233b49ce.f85486",
    "type": "ibmiot in",
    "z": "83c64010.34e6f",
    "authentication": "boundService",
    "apiKey": "",
    "inputType": "appsts",
    "deviceId": "",
    "applicationId": "",
    "deviceType": "+",
    "eventType": "+",
    "commandType": "",
    "format": "json",
    "name": "all applications status",
    "service": "registered",
    "allDevices": true,
    "allApplications": true,
    "allDeviceTypes": true,
    "allEvents": true,
    "allCommands": "",
    "allFormats": "",
    "qos": 0,
    "x": 180,
    "y": 227,
    "wires": [
      [
        "a3b9a815.a4e8f8"
      ]
    ]
  },
  {
    "id": "a3b9a815.a4e8f8",
    "type": "debug",
    "z": "83c64010.34e6f",
    "name": "status all applications",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 474,
    "y": 232,
    "wires": []
  },
  {
    "id": "64f1e90f.600658",
    "type": "comment",
    "z": "83c64010.34e6f",
    "name": "monitor status",
    "info": "",
    "x": 100,
    "y": 69,
    "wires": []
  },
  {
    "id": "731925e1.35e6cc",
    "type": "comment",
    "z": "83c64010.34e6f",
    "name": "update metadata motes",
    "info": "",
    "x": 109,
    "y": 401.0000457763672,
    "wires": []
  },
  {
    "id": "fa311ddf.89b3d",
    "type": "ibmiot in",
    "z": "83c64010.34e6f",
    "authentication": "boundService",
    "apiKey": "",
    "inputType": "evt",
    "deviceId": "",
    "applicationId": "",
    "deviceType": "mote",
    "eventType": "hr.Device",
    "commandType": "",
    "format": "json",
    "name": "all devuce hr.Device",
    "service": "registered",
    "allDevices": true,
    "allApplications": "",
    "allDeviceTypes": true,
    "allEvents": "",
    "allCommands": "",
    "allFormats": "",
    "qos": 0,
    "x": 172.00001525878906,
    "y": 461.0000457763672,
    "wires": [
      [
        "d8f1735f.64b9d"
      ]
    ]
  },
  {
    "id": "d8f1735f.64b9d",
    "type": "function",
    "z": "83c64010.34e6f",
    "name": "create request",
    "func": "msg.url     = \"https://0o6f49.internetofthings.ibmcloud.com/api/v0002/device/types/mote/devices/\"+msg.deviceId\nmsg.payload = {\n    \"metadata\": msg.payload['d']\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 415.00001525878906,
    "y": 460.0000457763672,
    "wires": [
      [
        "d4eab625.663898"
      ]
    ]
  },
  {
    "id": "d4eab625.663898",
    "type": "http request",
    "z": "83c64010.34e6f",
    "name": "",
    "method": "PUT",
    "ret": "txt",
    "url": "",
    "tls": "",
    "x": 618.0000152587891,
    "y": 458.0000457763672,
    "wires": [
      [
        "681474f4.4bf68c"
      ]
    ]
  },
  {
    "id": "681474f4.4bf68c",
    "type": "debug",
    "z": "83c64010.34e6f",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "statusCode",
    "x": 813.0000152587891,
    "y": 459.0000457763672,
    "wires": []
  },
  {
    "id": "fe8ad602.29ce78",
    "type": "ibmiot in",
    "z": "83c64010.34e6f",
    "authentication": "boundService",
    "apiKey": "",
    "inputType": "cmd",
    "deviceId": "",
    "applicationId": "",
    "deviceType": "manager",
    "eventType": "+",
    "commandType": "",
    "format": "json",
    "name": "all manager commands",
    "service": "registered",
    "allDevices": true,
    "allApplications": "",
    "allDeviceTypes": true,
    "allEvents": true,
    "allCommands": true,
    "allFormats": true,
    "qos": 0,
    "x": 181,
    "y": 169,
    "wires": [
      [
        "809eb5f5.b53ff8"
      ]
    ]
  },
  {
    "id": "809eb5f5.b53ff8",
    "type": "debug",
    "z": "83c64010.34e6f",
    "name": "status all devices",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 462,
    "y": 170,
    "wires": []
  },
  {
    "id": "785d44e9.bfa6bc",
    "type": "ibmiot in",
    "z": "83c64010.34e6f",
    "authentication": "boundService",
    "apiKey": "",
    "inputType": "cmd",
    "deviceId": "",
    "applicationId": "",
    "deviceType": "manager",
    "eventType": "+",
    "commandType": "JsonServer",
    "format": "json",
    "name": "JsonServer",
    "service": "registered",
    "allDevices": true,
    "allApplications": "",
    "allDeviceTypes": false,
    "allEvents": true,
    "allCommands": false,
    "allFormats": false,
    "qos": 0,
    "x": 136.1999969482422,
    "y": 280.2000274658203,
    "wires": [
      [
        "359a2d5b.3c1422"
      ]
    ]
  },
  {
    "id": "359a2d5b.3c1422",
    "type": "debug",
    "z": "83c64010.34e6f",
    "name": "JsonServer",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 455.2000274658203,
    "y": 311.2000274658203,
    "wires": []
  },
  {
    "id": "3bc052ce.bc4e4e",
    "type": "ibmiot in",
    "z": "83c64010.34e6f",
    "authentication": "boundService",
    "apiKey": "",
    "inputType": "evt",
    "deviceId": "",
    "applicationId": "",
    "deviceType": "manager",
    "eventType": "JsonServerResponse",
    "commandType": "JsonServerResponse",
    "format": "json",
    "name": "JsonServerResponse",
    "service": "registered",
    "allDevices": true,
    "allApplications": "",
    "allDeviceTypes": false,
    "allEvents": false,
    "allCommands": false,
    "allFormats": false,
    "qos": 0,
    "x": 169.1999969482422,
    "y": 334.2000274658203,
    "wires": [
      [
        "359a2d5b.3c1422"
      ]
    ]
  }
]