02-node-red/flows_raspberry.json
[
  {
    "id": "90125f1d.7cf8e8",
    "type": "tab",
    "label": "manager"
  },
  {
    "id": "e046d9e1.133038",
    "type": "wiotp-credentials",
    "z": "",
    "name": "manager credentials",
    "org": "0o6f49",
    "devType": "manager",
    "devId": "00-17-0d-00-00-58-2f-e4"
  },
  {
    "id": "fd4f666d.cb70f",
    "type": "http in",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "url": "/hr",
    "method": "post",
    "swaggerDoc": "",
    "x": 185,
    "y": 347,
    "wires": [
      [
        "434735b2.9581e4",
        "c3ae8367.7e9af"
      ]
    ]
  },
  {
    "id": "2f336aec.5b0d4e",
    "type": "wiotp out",
    "z": "90125f1d.7cf8e8",
    "authType": "g",
    "qs": "false",
    "qsDeviceId": "",
    "deviceKey": "e046d9e1.133038",
    "deviceType": "",
    "deviceId": "",
    "event": "",
    "format": "json",
    "name": "to IBM Watson IoT",
    "x": 1060,
    "y": 469,
    "wires": []
  },
  {
    "id": "dc1a9cc8.afcde8",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "payload",
    "func": "msg.payload    = {\"d\": msg.payload.fields}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 804,
    "y": 455,
    "wires": [
      [
        "2f336aec.5b0d4e"
      ]
    ]
  },
  {
    "id": "40102789.f314b8",
    "type": "http in",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "url": "/notifData",
    "method": "post",
    "swaggerDoc": "",
    "x": 165,
    "y": 386,
    "wires": [
      [
        "434735b2.9581e4",
        "ec421331.9a879"
      ]
    ]
  },
  {
    "id": "ff6bb8ca.031f1",
    "type": "http in",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "url": "/oap",
    "method": "post",
    "swaggerDoc": "",
    "x": 187,
    "y": 503,
    "wires": [
      [
        "434735b2.9581e4",
        "14f5089b.dd873f"
      ]
    ]
  },
  {
    "id": "fbf7eddd.935d6",
    "type": "http in",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "url": "/notifLog",
    "method": "post",
    "swaggerDoc": "",
    "x": 167,
    "y": 588,
    "wires": [
      [
        "434735b2.9581e4",
        "6409cd0.3adac34"
      ]
    ]
  },
  {
    "id": "a0361d00.2d83a",
    "type": "http in",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "url": "/notifIpData",
    "method": "post",
    "swaggerDoc": "",
    "x": 155,
    "y": 426,
    "wires": [
      [
        "434735b2.9581e4",
        "ec421331.9a879"
      ]
    ]
  },
  {
    "id": "7333ceca.b0ee58",
    "type": "http in",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "url": "/event",
    "method": "post",
    "swaggerDoc": "",
    "x": 174,
    "y": 625,
    "wires": [
      [
        "434735b2.9581e4",
        "6409cd0.3adac34"
      ]
    ]
  },
  {
    "id": "5591abaf.89d384",
    "type": "http in",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "url": "/notifHealthReport",
    "method": "get",
    "swaggerDoc": "",
    "x": 145,
    "y": 464,
    "wires": [
      [
        "434735b2.9581e4",
        "ec421331.9a879"
      ]
    ]
  },
  {
    "id": "434735b2.9581e4",
    "type": "http response",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "x": 215,
    "y": 696,
    "wires": []
  },
  {
    "id": "14f5089b.dd873f",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "[oap] deviceId event",
    "func": "msg.deviceId   = msg.payload.mac\nmsg.event      = 'oap.'+msg.payload.fields.channel_str\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 414,
    "y": 502,
    "wires": [
      [
        "310f64fe.b1d14c"
      ]
    ]
  },
  {
    "id": "ec421331.9a879",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "deviceId event",
    "func": "msg.deviceId   = msg.payload.fields.macAddress\nmsg.event      = msg.payload.name\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 426,
    "y": 417,
    "wires": [
      [
        "310f64fe.b1d14c"
      ]
    ]
  },
  {
    "id": "310f64fe.b1d14c",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "deviceType",
    "func": "msg.deviceType = \"mote\"\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 639,
    "y": 455,
    "wires": [
      [
        "dc1a9cc8.afcde8"
      ]
    ]
  },
  {
    "id": "eb0a94ed.38265",
    "type": "comment",
    "z": "90125f1d.7cf8e8",
    "name": "mote notifications",
    "info": "",
    "x": 156,
    "y": 307,
    "wires": []
  },
  {
    "id": "3b073dee.367882",
    "type": "comment",
    "z": "90125f1d.7cf8e8",
    "name": "manager notifications",
    "info": "",
    "x": 147,
    "y": 547,
    "wires": []
  },
  {
    "id": "6409cd0.3adac34",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "event",
    "func": "msg.event      = msg.payload.name\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 581,
    "y": 610,
    "wires": [
      [
        "dc1a9cc8.afcde8"
      ]
    ]
  },
  {
    "id": "e47cff46.fa4bf8",
    "type": "wiotp in",
    "z": "90125f1d.7cf8e8",
    "authType": "g",
    "deviceKey": "e046d9e1.133038",
    "deviceType": "",
    "deviceId": "",
    "command": "JsonServer",
    "commandType": "g",
    "name": "JsonServer commands",
    "x": 152,
    "y": 797,
    "wires": [
      [
        "5bac06cb.6b06c"
      ]
    ]
  },
  {
    "id": "475dc635.10d27",
    "type": "comment",
    "z": "90125f1d.7cf8e8",
    "name": "=== commands",
    "info": "",
    "x": 101,
    "y": 752,
    "wires": []
  },
  {
    "id": "46f5fae2.5763d4",
    "type": "http request",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "tls": "",
    "x": 584,
    "y": 798,
    "wires": [
      [
        "a4a7b79b.01bdf"
      ]
    ]
  },
  {
    "id": "5bac06cb.6b06c",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "create http request",
    "func": "// create HTTP request\nhttpMsg = {}\nhttpMsg.method          = msg.payload.method\nhttpMsg.url             = 'http://127.0.0.1:8080'+msg.payload.url\nhttpMsg.headers         = {\n    'X-Correlation-ID': msg.payload.token\n}\nhttpMsg.payload         = msg.payload.body\n\nreturn httpMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 387,
    "y": 799,
    "wires": [
      [
        "46f5fae2.5763d4"
      ]
    ]
  },
  {
    "id": "a4a7b79b.01bdf",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "format http response",
    "func": "mqttMsg = {}\nmqttMsg.event             = 'JsonServerResponse'\nmqttMsg.payload           = {}\nmqttMsg.payload.token     = msg.headers['x-correlation-id']\nmqttMsg.payload.response  = msg.payload\n\nreturn mqttMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 801,
    "y": 800,
    "wires": [
      [
        "2f336aec.5b0d4e"
      ]
    ]
  },
  {
    "id": "27ae49b2.fe6866",
    "type": "split",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "splt": "\\n",
    "x": 563,
    "y": 342,
    "wires": [
      [
        "b2f160e6.83e078"
      ]
    ]
  },
  {
    "id": "c3ae8367.7e9af",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "split HR",
    "func": "var payloads = [];\n\nfor (var hrname in msg.payload.hr) {\n    payloads.push(\n        {\n            'deviceType':  \"mote\",\n            'deviceId':    msg.payload.mac,\n            'payload':     msg.payload.hr[hrname],\n            'event':       'hr.'+hrname,\n        }\n    );\n}\n\nreturn {\"payload\": payloads};",
    "outputs": 1,
    "noerr": 0,
    "x": 417,
    "y": 345,
    "wires": [
      [
        "27ae49b2.fe6866"
      ]
    ]
  },
  {
    "id": "b2f160e6.83e078",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "create final hr",
    "func": "var returnMsg = {};\nreturnMsg.deviceType = msg.payload.deviceType;\nreturnMsg.deviceId   = msg.payload.deviceId;\nreturnMsg.event      = msg.payload.event;\nreturnMsg.payload    = msg.payload.payload;\nreturn returnMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 743,
    "y": 344,
    "wires": [
      [
        "2f336aec.5b0d4e"
      ]
    ]
  },
  {
    "id": "a4d74dc5.923008",
    "type": "comment",
    "z": "90125f1d.7cf8e8",
    "name": "=== configure/check JsonServer",
    "info": "",
    "x": 152,
    "y": 45,
    "wires": []
  },
  {
    "id": "62c195fb.e04f1c",
    "type": "inject",
    "z": "90125f1d.7cf8e8",
    "name": "add manager",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 209,
    "y": 87,
    "wires": [
      [
        "a3d2719f.491fc8"
      ]
    ]
  },
  {
    "id": "a461120f.d38e1",
    "type": "http request",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "method": "PUT",
    "ret": "obj",
    "url": "http://127.0.0.1:8080/api/v1/config/managers",
    "tls": "",
    "x": 559,
    "y": 83,
    "wires": [
      []
    ]
  },
  {
    "id": "40f95321.f51dcc",
    "type": "inject",
    "z": "90125f1d.7cf8e8",
    "name": "get status",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 194,
    "y": 127,
    "wires": [
      [
        "919e5b38.f17cc"
      ]
    ]
  },
  {
    "id": "919e5b38.f17cc",
    "type": "http request",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "url": "http://127.0.0.1:8080/api/v1/status",
    "tls": "",
    "x": 560,
    "y": 124,
    "wires": [
      [
        "76a2e053.732c3"
      ]
    ]
  },
  {
    "id": "a3d2719f.491fc8",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "func": "msg.payload = {\n    \"managers\": [\"/dev/ttyUSB3\"]\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 372,
    "y": 85,
    "wires": [
      [
        "a461120f.d38e1"
      ]
    ]
  },
  {
    "id": "bc9a0e83.596438",
    "type": "inject",
    "z": "90125f1d.7cf8e8",
    "name": "get serial ports",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 215,
    "y": 168,
    "wires": [
      [
        "e67cdbbd.b44c08"
      ]
    ]
  },
  {
    "id": "e67cdbbd.b44c08",
    "type": "http request",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "url": "http://127.0.0.1:8080/api/v1/helpers/serialports",
    "tls": "",
    "x": 566,
    "y": 166,
    "wires": [
      [
        "70a83f02.158798"
      ]
    ]
  },
  {
    "id": "76a2e053.732c3",
    "type": "debug",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 755,
    "y": 124,
    "wires": []
  },
  {
    "id": "70a83f02.158798",
    "type": "debug",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 756,
    "y": 166,
    "wires": []
  },
  {
    "id": "e88a2c58.8a1d",
    "type": "comment",
    "z": "90125f1d.7cf8e8",
    "name": "=== events",
    "info": "",
    "x": 76,
    "y": 252,
    "wires": []
  }
]