01-gateway/02-node-red/flows_raspberry.json
[
  {
    "id": "90125f1d.7cf8e8",
    "type": "tab",
    "label": "gateway"
  },
  {
    "id": "e046d9e1.133038",
    "type": "wiotp-credentials",
    "z": "",
    "name": "manager credentials",
    "org": "0o6f49",
    "devType": "manager",
    "devId": "00-17-0d-00-00-58-2f-e4"
  },
  {
    "id": "fd4f666d.cb70f",
    "type": "http in",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "url": "/hr",
    "method": "post",
    "swaggerDoc": "",
    "x": 204,
    "y": 576,
    "wires": [
      [
        "434735b2.9581e4",
        "c3ae8367.7e9af",
        "52e36d7.38eff94"
      ]
    ]
  },
  {
    "id": "2f336aec.5b0d4e",
    "type": "wiotp out",
    "z": "90125f1d.7cf8e8",
    "authType": "g",
    "qs": "false",
    "qsDeviceId": "",
    "deviceKey": "e046d9e1.133038",
    "deviceType": "",
    "deviceId": "",
    "event": "",
    "format": "json",
    "name": "to IBM Watson IoT",
    "x": 1044,
    "y": 647,
    "wires": []
  },
  {
    "id": "dc1a9cc8.afcde8",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "payload",
    "func": "msg.payload    = {\"d\": msg.payload.fields}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 807,
    "y": 413,
    "wires": [
      [
        "2f336aec.5b0d4e"
      ]
    ]
  },
  {
    "id": "40102789.f314b8",
    "type": "http in",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "url": "/notifData",
    "method": "post",
    "swaggerDoc": "",
    "x": 183,
    "y": 419,
    "wires": [
      [
        "434735b2.9581e4",
        "ec421331.9a879",
        "845d8cb3.98ca9"
      ]
    ]
  },
  {
    "id": "ff6bb8ca.031f1",
    "type": "http in",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "url": "/oap",
    "method": "post",
    "swaggerDoc": "",
    "x": 205,
    "y": 536,
    "wires": [
      [
        "434735b2.9581e4",
        "14f5089b.dd873f",
        "52e36d7.38eff94"
      ]
    ]
  },
  {
    "id": "fbf7eddd.935d6",
    "type": "http in",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "url": "/notifLog",
    "method": "post",
    "swaggerDoc": "",
    "x": 180,
    "y": 299,
    "wires": [
      [
        "434735b2.9581e4",
        "6409cd0.3adac34"
      ]
    ]
  },
  {
    "id": "a0361d00.2d83a",
    "type": "http in",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "url": "/notifIpData",
    "method": "post",
    "swaggerDoc": "",
    "x": 173,
    "y": 459,
    "wires": [
      [
        "434735b2.9581e4",
        "ec421331.9a879",
        "845d8cb3.98ca9"
      ]
    ]
  },
  {
    "id": "7333ceca.b0ee58",
    "type": "http in",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "url": "/event",
    "method": "post",
    "swaggerDoc": "",
    "x": 187,
    "y": 336,
    "wires": [
      [
        "434735b2.9581e4",
        "6409cd0.3adac34",
        "611f77d.dc51988"
      ]
    ]
  },
  {
    "id": "5591abaf.89d384",
    "type": "http in",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "url": "/notifHealthReport",
    "method": "get",
    "swaggerDoc": "",
    "x": 163,
    "y": 497,
    "wires": [
      [
        "434735b2.9581e4",
        "ec421331.9a879",
        "845d8cb3.98ca9"
      ]
    ]
  },
  {
    "id": "434735b2.9581e4",
    "type": "http response",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "x": 229,
    "y": 627,
    "wires": []
  },
  {
    "id": "14f5089b.dd873f",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "[oap] deviceId event",
    "func": "msg.deviceId   = msg.payload.mac\nmsg.event      = 'oap.'+msg.payload.fields.channel_str\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 432,
    "y": 535,
    "wires": [
      [
        "310f64fe.b1d14c"
      ]
    ]
  },
  {
    "id": "ec421331.9a879",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "deviceId event",
    "func": "msg.deviceId   = msg.payload.fields.macAddress\nmsg.event      = msg.payload.name\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 444,
    "y": 450,
    "wires": [
      [
        "310f64fe.b1d14c"
      ]
    ]
  },
  {
    "id": "310f64fe.b1d14c",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "deviceType",
    "func": "msg.deviceType = \"mote\"\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 640,
    "y": 485,
    "wires": [
      [
        "dc1a9cc8.afcde8"
      ]
    ]
  },
  {
    "id": "eb0a94ed.38265",
    "type": "comment",
    "z": "90125f1d.7cf8e8",
    "name": "mote events",
    "info": "",
    "x": 188,
    "y": 381,
    "wires": []
  },
  {
    "id": "3b073dee.367882",
    "type": "comment",
    "z": "90125f1d.7cf8e8",
    "name": "manager events",
    "info": "",
    "x": 180,
    "y": 258,
    "wires": []
  },
  {
    "id": "6409cd0.3adac34",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "event",
    "func": "msg.event      = msg.payload.name\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 661,
    "y": 345,
    "wires": [
      [
        "dc1a9cc8.afcde8"
      ]
    ]
  },
  {
    "id": "e47cff46.fa4bf8",
    "type": "wiotp in",
    "z": "90125f1d.7cf8e8",
    "authType": "g",
    "deviceKey": "e046d9e1.133038",
    "deviceType": "",
    "deviceId": "",
    "command": "JsonServer",
    "commandType": "g",
    "name": "JsonServer gateway commands",
    "x": 176,
    "y": 1044,
    "wires": [
      [
        "5bac06cb.6b06c"
      ]
    ]
  },
  {
    "id": "475dc635.10d27",
    "type": "comment",
    "z": "90125f1d.7cf8e8",
    "name": "=== commands",
    "info": "",
    "x": 98,
    "y": 949,
    "wires": []
  },
  {
    "id": "46f5fae2.5763d4",
    "type": "http request",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "tls": "",
    "x": 597,
    "y": 1045,
    "wires": [
      [
        "a4a7b79b.01bdf"
      ]
    ]
  },
  {
    "id": "5bac06cb.6b06c",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "create request",
    "func": "// create HTTP request\nhttpMsg = {}\nhttpMsg.method          = msg.payload.method\nhttpMsg.url             = 'http://127.0.0.1:8080'+msg.payload.url\nhttpMsg.headers         = {\n    'X-Correlation-ID': msg.payload.token\n}\nhttpMsg.payload         = msg.payload.body\n\nreturn httpMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 414,
    "y": 1045,
    "wires": [
      [
        "46f5fae2.5763d4"
      ]
    ]
  },
  {
    "id": "a4a7b79b.01bdf",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "format response",
    "func": "mqttMsg = {}\nmqttMsg.event             = 'JsonServerResponse'\nmqttMsg.payload           = {}\nmqttMsg.payload.token     = msg.headers['x-correlation-id']\nmqttMsg.payload.response  = msg.payload\n\nreturn mqttMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 781,
    "y": 1042,
    "wires": [
      [
        "2f336aec.5b0d4e"
      ]
    ]
  },
  {
    "id": "27ae49b2.fe6866",
    "type": "split",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "splt": "\\n",
    "x": 582,
    "y": 571,
    "wires": [
      [
        "b2f160e6.83e078"
      ]
    ]
  },
  {
    "id": "c3ae8367.7e9af",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "split HR",
    "func": "var payloads = [];\n\nfor (var hrname in msg.payload.hr) {\n    payloads.push(\n        {\n            'deviceType':  \"mote\",\n            'deviceId':    msg.payload.mac,\n            'payload':     msg.payload.hr[hrname],\n            'event':       'hr.'+hrname,\n        }\n    );\n}\n\nreturn {\"payload\": payloads};",
    "outputs": 1,
    "noerr": 0,
    "x": 436,
    "y": 574,
    "wires": [
      [
        "27ae49b2.fe6866"
      ]
    ]
  },
  {
    "id": "b2f160e6.83e078",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "create final hr",
    "func": "var returnMsg = {};\nreturnMsg.deviceType = msg.payload.deviceType;\nreturnMsg.deviceId   = msg.payload.deviceId;\nreturnMsg.event      = msg.payload.event;\nreturnMsg.payload    = msg.payload.payload;\nreturn returnMsg;",
    "outputs": 1,
    "noerr": 0,
    "x": 762,
    "y": 573,
    "wires": [
      [
        "2f336aec.5b0d4e"
      ]
    ]
  },
  {
    "id": "a4d74dc5.923008",
    "type": "comment",
    "z": "90125f1d.7cf8e8",
    "name": "=== configure/check JsonServer",
    "info": "",
    "x": 152,
    "y": 45,
    "wires": []
  },
  {
    "id": "62c195fb.e04f1c",
    "type": "inject",
    "z": "90125f1d.7cf8e8",
    "name": "add manager",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 209,
    "y": 87,
    "wires": [
      [
        "a3d2719f.491fc8"
      ]
    ]
  },
  {
    "id": "a461120f.d38e1",
    "type": "http request",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "method": "PUT",
    "ret": "obj",
    "url": "http://127.0.0.1:8080/api/v1/config/managers",
    "tls": "",
    "x": 559,
    "y": 83,
    "wires": [
      []
    ]
  },
  {
    "id": "40f95321.f51dcc",
    "type": "inject",
    "z": "90125f1d.7cf8e8",
    "name": "get status",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 194,
    "y": 127,
    "wires": [
      [
        "919e5b38.f17cc"
      ]
    ]
  },
  {
    "id": "919e5b38.f17cc",
    "type": "http request",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "url": "http://127.0.0.1:8080/api/v1/status",
    "tls": "",
    "x": 560,
    "y": 124,
    "wires": [
      [
        "76a2e053.732c3"
      ]
    ]
  },
  {
    "id": "a3d2719f.491fc8",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "func": "msg.payload = {\n    \"managers\": [\"/dev/ttyUSB3\"]\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 372,
    "y": 85,
    "wires": [
      [
        "a461120f.d38e1"
      ]
    ]
  },
  {
    "id": "bc9a0e83.596438",
    "type": "inject",
    "z": "90125f1d.7cf8e8",
    "name": "get serial ports",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 215,
    "y": 168,
    "wires": [
      [
        "e67cdbbd.b44c08"
      ]
    ]
  },
  {
    "id": "e67cdbbd.b44c08",
    "type": "http request",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "url": "http://127.0.0.1:8080/api/v1/helpers/serialports",
    "tls": "",
    "x": 566,
    "y": 166,
    "wires": [
      [
        "70a83f02.158798"
      ]
    ]
  },
  {
    "id": "76a2e053.732c3",
    "type": "debug",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 755,
    "y": 124,
    "wires": []
  },
  {
    "id": "70a83f02.158798",
    "type": "debug",
    "z": "90125f1d.7cf8e8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 756,
    "y": 166,
    "wires": []
  },
  {
    "id": "e88a2c58.8a1d",
    "type": "comment",
    "z": "90125f1d.7cf8e8",
    "name": "=== events",
    "info": "",
    "x": 71,
    "y": 207,
    "wires": []
  },
  {
    "id": "52e36d7.38eff94",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "msg.payload.mac",
    "func": "msg.payload = {\n    'mac': msg.payload.mac,\n    'alive': true\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 194,
    "y": 723,
    "wires": [
      [
        "6a6f8312.6fdb5c"
      ]
    ]
  },
  {
    "id": "845d8cb3.98ca9",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "msg.payload.fields.macAddress",
    "func": "msg.payload = {\n    'mac':   msg.payload.fields.macAddress,\n    'alive': true\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 233,
    "y": 769,
    "wires": [
      [
        "6a6f8312.6fdb5c"
      ]
    ]
  },
  {
    "id": "611f77d.dc51988",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "discovery events",
    "func": "var alive;\nvar mac;\n\nswitch(msg.payload.name) {\n    case 'eventMoteDelete':\n    case 'eventMoteLost':\n    case 'eventMoteReset':\n        alive = false;\n        mac   = msg.payload.fields.macAddress;\n        break;\n    case 'eventMoteCreate':\n    case 'eventMoteJoin':\n    case 'eventMoteOperational':\n        alive = true;\n        mac   = msg.payload.fields.macAddress;\n        break;\n    default:\n        return;\n}\n\nmsg.payload = {\n    'mac':   mac,\n    'alive': alive\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 192,
    "y": 815,
    "wires": [
      [
        "6a6f8312.6fdb5c"
      ]
    ]
  },
  {
    "id": "ab2bfad5.c76728",
    "type": "comment",
    "z": "90125f1d.7cf8e8",
    "name": "maintain activeMotes list",
    "info": "",
    "x": 160,
    "y": 681,
    "wires": []
  },
  {
    "id": "6a6f8312.6fdb5c",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "maintain active nodes list",
    "func": "var activeMotes = flow.get('activeMotes');\nif (typeof activeMotes == 'undefined') {\n    activeMotes = [];\n}\n\nvar idx = activeMotes.indexOf(msg.payload.mac);\nif (msg.payload.alive===true) {\n    // mote is alive\n    \n    if (idx === -1) {\n        // NOT in the database: add\n        activeMotes.push(msg.payload.mac);\n    }\n} else {\n    // mote is NOT alive\n    \n    if (idx != -1) {\n        // in the database: remove\n        activeMotes.splice(activeMotes.indexOf(msg.payload.mac), 1);\n    }\n}\n\nflow.set('activeMotes',activeMotes)\n\nmsg.payload = flow.get('activeMotes');\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 645,
    "y": 779,
    "wires": [
      []
    ]
  },
  {
    "id": "d100a3a2.cf33e",
    "type": "inject",
    "z": "90125f1d.7cf8e8",
    "name": "get activeMotes list",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 203,
    "y": 858,
    "wires": [
      [
        "7f6cca47.850024"
      ]
    ]
  },
  {
    "id": "7f6cca47.850024",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "get activeMotes list",
    "func": "msg.payload = flow.get('activeMotes');\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 463,
    "y": 858,
    "wires": [
      []
    ]
  },
  {
    "id": "b25524e3.0a6878",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "for activeMotes?",
    "func": "if (flow.get('activeMotes').indexOf(msg.payload.mac) != -1) {\n    return msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 1129,
    "wires": [
      []
    ]
  },
  {
    "id": "f5385fe9.d73b",
    "type": "wiotp in",
    "z": "90125f1d.7cf8e8",
    "authType": "g",
    "deviceKey": "e046d9e1.133038",
    "deviceType": "+",
    "deviceId": "+",
    "command": "JsonServer",
    "commandType": "d",
    "name": "JsonServer device commands",
    "x": 177,
    "y": 1129,
    "wires": [
      [
        "b25524e3.0a6878"
      ]
    ]
  },
  {
    "id": "8c27f22c.6d005",
    "type": "inject",
    "z": "90125f1d.7cf8e8",
    "name": "reset activeMotes list",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 215,
    "y": 901,
    "wires": [
      [
        "57cd0829.d0dcf8"
      ]
    ]
  },
  {
    "id": "57cd0829.d0dcf8",
    "type": "function",
    "z": "90125f1d.7cf8e8",
    "name": "reset activeMotes list",
    "func": "flow.set('activeMotes',[]);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 475,
    "y": 901,
    "wires": [
      []
    ]
  },
  {
    "id": "50131d0b.9ef9f4",
    "type": "comment",
    "z": "90125f1d.7cf8e8",
    "name": "manager commands",
    "info": "",
    "x": 207,
    "y": 1005,
    "wires": []
  },
  {
    "id": "7223964b.81d358",
    "type": "comment",
    "z": "90125f1d.7cf8e8",
    "name": "mote commands",
    "info": "",
    "x": 227,
    "y": 1090,
    "wires": []
  }
]